<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="so101_mock_ros2_control" params="name prefix">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>

      <xacro:macro name="position_joint_interface" params="joint_name initial_value:=0.0">
        <joint name="${joint_name}">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">${initial_value}</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:position_joint_interface joint_name="${prefix}base_joint"/>
      <xacro:position_joint_interface joint_name="${prefix}shoulder_joint"/>
      <xacro:position_joint_interface joint_name="${prefix}elbow_joint"/>
      <xacro:position_joint_interface joint_name="${prefix}wrist_flex_joint"/>
      <xacro:position_joint_interface joint_name="${prefix}wrist_roll_joint"/>
      <xacro:position_joint_interface joint_name="${prefix}gripper_joint"/>
    </ros2_control>
  </xacro:macro>
</robot>
